<nz-layout [style.margin-left]="isCollapsed ? '64px' : '256px'" class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://portfolio-angular-rose.vercel.app/" target="_blank">
        <img src="logomarca_pessoal.png" alt="logo">
        <h1>News Time</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Páginas" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Início</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/perfil">Perfil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/favorites">Favoritos</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Categorias" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('')"
          [ngClass]="{ 'selected': selectedCategory === '' }">
            <a>Todos</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('business')"
          [ngClass]="{ 'selected': selectedCategory === 'business' }">
            <a>Negócios</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('crime')"
          [ngClass]="{ 'selected': selectedCategory === 'crime' }">
            <a>Crime</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('domestic')"
          [ngClass]="{ 'selected': selectedCategory === 'domestic' }">
            <a>Doméstico</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('education')"
          [ngClass]="{ 'selected': selectedCategory === 'education' }">
            <a>Educação</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('entertainment')"
          [ngClass]="{ 'selected': selectedCategory === 'entertainment' }">
            <a>Entretenimento</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('environment')"
          [ngClass]="{ 'selected': selectedCategory === 'environment' }">
            <a>Meio ambiente</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('food')"
          [ngClass]="{ 'selected': selectedCategory === 'food' }">
            <a>Comida</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('health')"
          [ngClass]="{ 'selected': selectedCategory === 'health' }">
            <a>Saúde</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('lifestyle')"
          [ngClass]="{ 'selected': selectedCategory === 'lifestyle' }">
            <a>Estilo de vida</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('politics')"
          [ngClass]="{ 'selected': selectedCategory === 'politics' }">
            <a>Política</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('science')"
          [ngClass]="{ 'selected': selectedCategory === 'science' }">
            <a>Ciência</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('sports')"
          [ngClass]="{ 'selected': selectedCategory === 'sports' }">
            <a>Esportes</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('technology')"
          [ngClass]="{ 'selected': selectedCategory === 'technology' }">
            <a>Tecnologia</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('top')"
          [ngClass]="{ 'selected': selectedCategory === 'top' }">
            <a>Top</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('tourism')"
          [ngClass]="{ 'selected': selectedCategory === 'tourism' }">
            <a>Turismo</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('world')"
          [ngClass]="{ 'selected': selectedCategory === 'world' }">
            <a>Mundo</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCategorySelect('other')"
          [ngClass]="{ 'selected': selectedCategory === 'other' }">
            <a>Outro</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Países" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('')"
          [ngClass]="{ 'selected': selectedCountry === '' }">
            <a>Todos</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('af')"
          [ngClass]="{ 'selected': selectedCountry === 'af' }">
            <a>Afeganistão</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('za')"
          [ngClass]="{ 'selected': selectedCountry === 'za' }">
            <a>África do Sul</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('de')"
          [ngClass]="{ 'selected': selectedCountry === 'de' }">
            <a>Alemanha</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ar')"
          [ngClass]="{ 'selected': selectedCountry === 'ar' }">
            <a>Argentina</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('au')"
          [ngClass]="{ 'selected': selectedCountry === 'au' }">
            <a>Austrália</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('be')"
          [ngClass]="{ 'selected': selectedCountry === 'be' }">
            <a>Bélgica</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('bo')"
          [ngClass]="{ 'selected': selectedCountry === 'bo' }">
            <a>Bolívia</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('br')"
          [ngClass]="{ 'selected': selectedCountry === 'br' }">
            <a>Brasil</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ca')"
          [ngClass]="{ 'selected': selectedCountry === 'ca' }">
            <a>Canadá</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('cl')"
          [ngClass]="{ 'selected': selectedCountry === 'cl' }">
            <a>Chile</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('cn')"
          [ngClass]="{ 'selected': selectedCountry === 'cn' }">
            <a>China</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('co')"
          [ngClass]="{ 'selected': selectedCountry === 'co' }">
            <a>Colômbia</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('kp')"
          [ngClass]="{ 'selected': selectedCountry === 'kp' }">
            <a>Coréia do Norte</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('kr')"
          [ngClass]="{ 'selected': selectedCountry === 'kr' }">
            <a>Coréia do Sul</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('cu')"
          [ngClass]="{ 'selected': selectedCountry === 'cu' }">
            <a>Cuba</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('dk')"
          [ngClass]="{ 'selected': selectedCountry === 'dk' }">
            <a>Dinamarca</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ae')"
          [ngClass]="{ 'selected': selectedCountry === 'ae' }">
            <a>Emirados Árabes Unidos</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ec')"
          [ngClass]="{ 'selected': selectedCountry === 'ec' }">
            <a>Equador</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('es')"
          [ngClass]="{ 'selected': selectedCountry === 'es' }">
            <a>Espanha</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('us')"
          [ngClass]="{ 'selected': selectedCountry === 'us' }">
            <a>Estados Unidos da América</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ph')"
          [ngClass]="{ 'selected': selectedCountry === 'ph' }">
            <a>Filipinas</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('fr')"
          [ngClass]="{ 'selected': selectedCountry === 'fr' }">
            <a>França</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('gr')"
          [ngClass]="{ 'selected': selectedCountry === 'gr' }">
            <a>Grécia</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('nl')"
          [ngClass]="{ 'selected': selectedCountry === 'nl' }">
            <a>Holanda</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ky')"
          [ngClass]="{ 'selected': selectedCountry === 'ky' }">
            <a>Ilhas Cayman</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('in')"
          [ngClass]="{ 'selected': selectedCountry === 'in' }">
            <a>Índia</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ie')"
          [ngClass]="{ 'selected': selectedCountry === 'ie' }">
            <a>Irlanda</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('it')"
          [ngClass]="{ 'selected': selectedCountry === 'it' }">
            <a>Itália</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('jp')"
          [ngClass]="{ 'selected': selectedCountry === 'jp' }">
            <a>Japão</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('mx')"
          [ngClass]="{ 'selected': selectedCountry === 'mx' }">
            <a>Mexico</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('no')"
          [ngClass]="{ 'selected': selectedCountry === 'no' }">
            <a>Noruega</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('py')"
          [ngClass]="{ 'selected': selectedCountry === 'py' }">
            <a>Paraguai</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('pe')"
          [ngClass]="{ 'selected': selectedCountry === 'pe' }">
            <a>Peru</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('pl')"
          [ngClass]="{ 'selected': selectedCountry === 'pl' }">
            <a>Pôlonia</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('pt')"
          [ngClass]="{ 'selected': selectedCountry === 'pt' }">
            <a>Portugal</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('gb')"
          [ngClass]="{ 'selected': selectedCountry === 'gb' }">
            <a>Reino Unido</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ru')"
          [ngClass]="{ 'selected': selectedCountry === 'ru' }">
            <a>Rússia</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ch')"
          [ngClass]="{ 'selected': selectedCountry === 'ch' }">
            <a>Suíça</a>
          </li>
          <li nz-menu-item nzMatchRouter
          (click)="onCountrySelect('uy')"
          [ngClass]="{ 'selected': selectedCountry === 'uy' }">
            <a>Uruguai</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('va')"
          [ngClass]="{ 'selected': selectedCountry === 'va' }">
            <a>Vaticano</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('ve')"
          [ngClass]="{ 'selected': selectedCountry === 've' }">
            <a>Venezuela</a>
          </li>
          <li nz-menu-item nzMatchRouter 
          (click)="onCountrySelect('wo')"
          [ngClass]="{ 'selected': selectedCountry === 'wo' }">
            <a>Mundo</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
